@CHARSET "ISO-8859-1";

.south {
	border: none !important;
	background-color: #6685A3;
	display: block;
	position: absolute;
	height: 120px;
	width: 100%;
	bottom: 0px;
	left: 0px;
}

.logoMaxys {
	position: absolute;
	top: 30px;
	right: 20%;
}

.fullPage {
	background-image: url("../resources/img/Fundo1.png");
	/*background-color: yellow;*/
	background-repeat: repeat;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

.center {
	width: 80%;
	height: 100%;
	background-color: white;
	position: absolute;
	top: 0px;
	left: 10%;
}